/* This file is for your main application css. */
@import "~codemirror/lib/codemirror.css";
@import "zenburn.css";

@font-face {
    font-family: "Kingthings Trypewriter 2";
    src: url("~/../fonts/kingthings-trypewriter-2.ttf") format("truetype");
}

html, body {
    height: 100vh;
}

body {
    margin: 0px;
    top: 0px;

    color: ghostwhite;
    font-family: "Kingthings Trypewriter 2";
}

.header {
    background-image: url("/images/wood_header.png");
    top: 0px;

    width: 100%;
    height: 67px;
}

.container {
    background-image: url("/images/blackboard.jpg");

    margin: 0px;
    height: calc(100vh - 67px);
    width: 100%;
}

.code-container {
    padding: 20px 0px;
    height: calc(100vh - 67px - 40px);
}

.intro {
    height: inherit;

    text-align: center;
    font-size: 1.5em;
    
    /* Center vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro a:visited {
    color: ghostwhite;
}

.intro a:hover {
    color: antiquewhite;
}

.nav-left {
    text-align: left;
    float: left;
    margin-top: 15px;
    padding: 0px 20px;
}

.nav-right {
    text-align: right;
    float: right;
    margin-top: 20px;
    padding: 0px 20px;
}

.nav-right a:visited {
    color: ghostwhite;
}

.nav-right a:hover {
    color: antiquewhite;
}

.user {
    display: inline-block;
    vertical-align: middle;
}

.user * {
    display: inline-block;
    vertical-align: middle;
}

.username {
    margin: 0px 10px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.CodeMirror {
    height: 100%;

    font-family: "Kingthings Trypewriter 2";
    font-size: 1.5em;
    background-color: transparent;
}

.CodeMirror-linenumber {
    padding-left: 10px;
    padding-right: 25px;
}

/* Thicker cursor */
.cm-s-zenburn {
    color: ghostwhite;
}

.cm-s-zenburn .CodeMirror-cursor {
    border-left: 2.5px solid white;
}

.cm-s-zenburn .CodeMirror-gutters  {
    background-color: transparent !important;
    border: 0px;
}